/* 定义页脚文字的颜色 */
.footer-content a,
.footer-content i,
.footer-content span {
  color: #03fcf8; 
}

/* 定义统计数字的颜色 */
.footer-statistics-pv_format{
  color: #03fcf8 ;
}

.footer-statistics-uv_format{
  color: #03fcf8 ;
}

.slogan {
  color: #03fcf8 ;
}
